doctype html
html
  head
    title Your basic web app structure
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/font-awesome-4.6.3/css/font-awesome.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/index.js')
  
  body#index
    .container
      div.text-center
        header
          h1 
            span.red Nizi
            span.green Chat
          h3 Making chatting private again.
          
        section#navigator
          div.input-group#secret-form
            span.input-group-addon @
            input#input-secret.form-control(placeholder='SecretCode`')
          button#btn-start-chat.btn.btn-success Chat!
